body{
	background-image: url(../images/background2.jpg);
	height: 100%;
	color: #fff;
	background-size: 100%;
	background-position: left top;
	background-repeat: no-repeat;
}

.container {
	width: 100%;
	margin: auto;
	max-width: 1140px;
}

.firstbox {
	width: 90%;
	padding-top: 35%;
	margin: 0px auto;
}

.title1 {
	width: 100%;
	text-align: center;
	color: #fff;
	font: 70px/1;
	font-weight: 700;
	display: block;
	line-height: 30px;
	margin: 0 auto;
}

.title2 {
	text-align: center;
	color: #fff;
	font: 50px/1;
	font-weight: 300;
	display: block;
	width: 100%;
	margin-top: 2%;
}

.title3 {
	width: 100%;
	text-align: center;
	color: #fff;
	font: 70px/1;
	font-weight: 700;
	display: block;
	line-height: 30px;
	margin-top: 3%;
	font-size: 20px;
}

.container2 {
	margin-top: 61%;
	text-align: right;
}

.hometitlecontainer {
	margin-left: 5%;
	max-width: 1140px;
	width: 80%;
}

.hometitlebox {
	font: 70px;
	font-weight: 700;
	text-align: left;
	border-left-width: 5px;
	border-left-style: solid;
	border-color: #00a9b8;
	padding-left: 20px;
	line-height: 115%;
}

.hometitlecontainer p {
	font-size: 17px;
	font-weight: 100;
	text-align: justify;
	line-height: 25px;
	color: #fff;
	margin-top: 3px;
	margin-left: 2.5%;
}

.container3 {
	margin-top: 46%;
	text-align: right;
}

.hometitlecontainer2 {
	/* [disabled]margin-left: 5%; */
	display: inline-block;
	width: 39%;
	margin-right: 5%;
}

.hometitlebox2 {
	font-size: 50px;
	font-weight: 700;
	text-align: left;
	border-left-width: 5px;
	border-left-style: solid;
	border-color: #00a9b8;
	padding-left: 20px;
	line-height: 115%;
}

.hometitlecontainer2 p {
	font-size: 17px;
	font-weight: 100;
	text-align: justify;
	line-height: 25px;
	color: #fff;
	margin-top: 3px;
	margin-left: 5%;
}

.container4 {
	margin-top: 48%;
	text-align: right;
}

.container6 {
	margin-top: 7%;
	margin-bottom: 7%;
	
}

.container6 p {
	padding-top: 4%;
	width: 80%;
	text-align: center;
	margin: 0 auto;
	
}

#rect {
	margin-left: 46%;
	margin-top: 3%;
	color: white;
	border: 2px solid #fff;
	padding: 14px 28px 13px 28px;
	text-align: center;
	display: inline-block;
}

#rect:hover {
	background: #fff;   
	color: black;	
}

.container5 {
	margin-top: 26%;
}

.container5 p {
	font-size: 30px;
	width: 60%;
	text-align: center;
	margin: 0 auto;
}

#circle {
	width: 300px;
	height: 300px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-style: solid;
	border-width: 3px;
	border-color: #3cd5af;
	margin: 0 auto;
	margin-top: 5%;
	border-radius: 300px;
	transition: all 0.3s;
}

#circle:hover {
	background: #3cd5af;
}

#circle p {
	margin-top: 45%;
	color: #fff;
}

@media (max-width: 1366px) {
	.container2 {
		margin-top: 39%;
		text-align: right;
	}
	.container3 {
		margin-top: 42%;
	}
	.container4 {
		margin-top: 46%;
	}
	.container5 {
		margin-top: 30%;
	}
	.firstbox {
		width: 90%;
		padding-top: 23%;
		margin: 0px auto;
	}
}

@media (max-width: 1280px) {
	.container2 {
		margin-top: 54%;
		text-align: right;
	}
}

@media (max-width: 1080px) {
	.container4 {
		margin-top: 38%;
	}
	.container5 {
		margin-top: 22%;
	}
	.container5 p {
		font-size: 17px;
		width: 60%;
		text-align: center;
		margin: 0 auto;
	}
	#circle {
		width: 200px;
		height: 200px;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		border-style: solid;
		border-width: 3px;
		border-color: #3cd5af;
		margin: 0 auto;
		margin-top: 15%;
		border-radius: 200px;
		;
	}
}

@media (max-width: 480px) {
	.firstbox {
		width: 90%;
		padding-top: 7%;
		margin: 0px auto;
	}
	.title1 {
		width: 68%;
	}
	.title2 {
		margin-top: 0;
	}
	.container2 {
		margin-top: 40%;
	}
	.hometitlecontainer {
		width: 56%;
	}
	.container3 {
		margin-top: 24%;
	}
	.container4 {
		margin-top: 20%;
	}
	.container5 p {
		font-size: 15px;
		width: 80%;
		text-align: center;
		margin: 0 auto;
	}
	#circle {
		width: 120px;
		height: 120px;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		border-style: solid;
		border-width: 3px;
		border-color: #3cd5af;
		margin: 0 auto;
		margin-top: 3%;
		border-radius: 120px;
	}
	.hometitlecontainer2 p {
		font-size: 13px;
		font-weight: 100;
		text-align: justify;
		line-height: 19px;
		color: #fff;
		margin-top: 3px;
		margin-left: 5%;
	}
	.hometitlecontainer p {
		font-size: 13px;
		font-weight: 100;
		text-align: justify;
		line-height: 19px;
		color: #fff;
		margin-top: 3px;
		margin-left: 2.5%;
	}
	.container5 {
		margin-top: 8%;
	}
	.hometitlecontainer2 {
		/* [disabled]margin-left: auto; */
		display: inline-block;
		width: 70%;
		margin-right: 4%;
	}
}

@media (max-width: 375px) {
	.title1 {
		width: 96%;
	}
	.container2 {
		margin-top: 20%;
	}
	.container3 {
		margin-top: 12%;
	}
	.hometitlecontainer2 {
		margin-left: auto;
		display: block;
		width: 70%;
		margin-right: auto;
	}
	.hometitlecontainer {
		margin: auto;
		width: 70%;
	}
	.hometitlebox {
		font: 70px;
		font-weight: 700;
		text-align: left;
		border-left-width: 5px;
		border-left-style: solid;
		border-color: #00a9b8;
		line-height: 115%;
	}
	.container5 p {
		font-size: 13px;
		width: 88%;
		text-align: center;
		margin: 0 auto;
	}
	.firstbox {
		width: 90%;
		padding-top: 13%;
		margin: 0px auto;
	}
}